.login-button {
    background-color: white;
    border-radius: 25px;
    width: 80%;
    padding: 11px;
    margin: 6px;
    display: flex;
    align-items: center;
    //height: 50px;
    color: black;
  }